body { font-family: Helvetica, Verdana, Arial; }
            
h1 { font-size: 1.4em; }
h2 { font-size: 1.2em; }

div { margin-bottom: 1em; }
p { font-style: italic; }
#results p { font-style: unset; }

div label, div input, div select { display: inline-block; vertical-align: top; }
div label:first-of-type { width: 300px;}

.red {color: #c00; }
.green {color: #090; }